body {
    font-family: 'Times New Roman', Times, serif;
    color:#3a3a3a;
    
    
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
   
  
}
#logo {
    float: left;
    font-size: 200%;
    color: lightpink;
    position: relative;
    margin: 10px;

}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu, #logo{
    line-height: 75px;

}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;

}

.active {
    border-bottom: 1px solid #3a3a3a;
    
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../image/whipped-cakes-and-bakes.jpg');
}


/* About Me*/

.about-me { 
    width: 500px;
    height: 3o0px;
    padding: 30px;
    border-style: solid;
    color: #3a3a3a;
    border-color: white;
    border-width: 5px;
    margin: 0 auto;
    font-size: 20px;
}

/* footer */

footer {
   
	padding: 1em;
	text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
}

.social-media {
    text-align: center;
    bottom: 0 px;
    

}

/* gallery */

#photos {
    clear: both;
    line-height: 0px;
    column-count: 4;
    column-gap: 0px;
    
}

#photos > img {
    width: 100%;
}

.social-media >li {
    display: inline;

}

.social-media i {
    font-size: 140%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Pricelist and Flavours */

#pricelist_flavours {
    
}


/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 100px;
    border: none;
}

